/** Vivaldi custom css - v2.5 **/

/** Delete gradient in tabs **/
.tabs-top.color-behind-tabs-on #tabs-container {
	background: var(--colorAccentBg) !important;
}

/** Hide start page navigation bar **/
.startpage-navigation {
	display: none !important;
}

/** Hide the trash **/
#tabs-container .toolbar .toggle-trash {
	display: none !important;
}

/** Remove bookmark of the address bar **/
button.button-addressfield {
	display: none !important;
}

/** Hide the profile button **/
.toolbar-mainbar .button-circularimage {
	display: none !important;
}

/** Remove the padding at the top **/
.no-thumbs {
	padding-top: 0 !important;
}

