/** Vivaldi Custom CSS - v2.6 **/

* {{
	--colorBg: {color0} !important;
	--colorBgIntenser: {color1} !important;
	--colorFg: {color7} !important;
	--colorFgFaded: {color7} !important;
	--colorAccentBg: {color1} !important;
	--colorBorder: {color1} !important;
	--colorBorderHighlight: {color0} !important;
	--colorBorderIntense: {color5} !important;
	--colorBgDark: {color0} !important;
	--colorBgDarker: {color0} !important;
	--colorBgLight: {color2} !important;
	--colorBgIntense: {color0} !important;
	--colorBgLightIntense: {color0} !important;
	--colorBgInverser: {color2} !important;
	--colorHighlightBg: {color2} !important;
	--colorAccentBgDark: {color5} !important;
}}

.dials .dial .close {{
	background-color: var(--colorBg) !important;
}}

.thumbnail-image svg .folder-tab-color {{
	fill: var(--colorHighlightBg) !important;
}}

.addressfield .pageload .pageload-indicator {{
	background-color: var(--colorBg) !important;
}}

.startpage .startpage-content .sdwrapper {{
	background-color: var(--colorBg) !important;
}}

.folder .thumbnail > .thumbnail-image {{
	background-image: linear-gradient(125deg, var(--colorBgLight) 0%, var(--colorBgLight) 80%) !important;
}}

/** Delete gradient in tabs **/
.tabs-top.color-behind-tabs-on #tabs-container{{
	background: var(--colorAccentBg) !important;
}}

/** Hide start page navigation bar **/
.startpage-navigation {{
	display: none !important;
}}

/** Remove bookmark of the address bar **/
button.button-addressfield {{
	display: none !important;
}}

/** Hide the profile button **/
.toolbar-mainbar .button-circularimage {{
	display: none !important;
}}

/** Remove the padding at the top **/
.no-thumbs {{
	padding-top: 0 !important;
}}

