[Desktop Entry]
Name=NeoMutt
Comment=Small but very powerful text based program for reading and sending electronic mail under Unix operating systems
GenericName=Mail Client
Exec=st -e neomutt %u
Terminal=false
Type=Application
Path=/usr/bin/neomutt
Icon=neomutt_48x48.png
Categories=Mail;
Keywords=mailclient;mail;
