[Desktop Entry]
Name=qute
GenericName=Web Browser
Comment=A keyboard-driven, vim-like browser based on PyQt5
Icon=qutebrowser
Type=Application
Categories=Network;WebBrowser;
Exec=qute %u
Terminal=false
Keywords=Browser
