[Desktop Entry]
Name=st
Comment=Simple terminal implementation for x
GenericName=Terminal
Exec=st
Terminal=false
Type=Application
Path=/usr/bin/st
Icon=st_48x48.png
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
